.ma-slider {
  padding: 24px 0 98px;
  background: #fcdb00;
}

.ma-carousel {
  padding: 10px 0 10px;
}

.ma-carousel-text {
  margin-top: 48px;
  &__title {
    color: #010101;
    font-family: $boldFontFamily;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 22px;
  }
  &__subtitle {
    width: 70%;
    color: #313841;
    font-family: $regularFontFamily;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 18px;
    line-height: 22px;
  }
  &__description {
    width: 87%;
    color: #555555;
    font-family: $regularFontFamily;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 20px;
  }
  &__icon {
    color: #010101;
    font-size: 42px;
    font-weight: 400;
    &:hover {
      transform: scaleY(1.1);
    }
    &--center {
      margin: 0 33px;
    }
  }
}

.ma-carousel-ipad {
  &__base {
    padding: 44px 14px 43px;
    background: #ffffff;
    border-radius: 24px;
    width: 85%;
    margin-left: 11px;
    &:hover {
      background: #2a0438;
    }
  }
  &__screen {
    padding: 100px 0 100px;
    background: #000000;
    display: block;
    text-align: center;
    &:hover {
      background: #032a04;
    }
  }
  &__title {
    display: inline-block;
    color: #fcdb00;
    font-family: $boldFontFamily;
    font-size: 30px;
    font-weight: 700;
    margin: 55px 0 94px;
  }
  &__img {
    border-radius: 50%;
    &:hover {
      background: gray;
    }
  }
}

.ma-carousel-indicators {
  bottom: -62px;
}

.carousel-indicators li {
  width: 13px;
  height: 13px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators .active {
  width: 13px;
  height: 13px;
  margin: 0;
}
